:root {
  --primary-bg-color: rgba(16, 13, 14, 0.8);
  --selected-active-hover: rgba(51, 50, 51, 0.8);
  --hover-buttons: rgba(84, 82, 84, 0.8);
  --border-radius: 5px
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--primary-bg-color);
  color: white;
  font-family: "JetBrains Mono", monospace;
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  color: white;
  border: 2px solid var(--selected-active-hover);
}

.file-item {
  padding: 1px;
  cursor: pointer;
}

.file-item:hover {
  background-color: var(--selected-active-hover);
}

.file-item.active {
  background-color:  var(--selected-active-hover);
}

.editor-container {
  display: flex;
  flex-direction: column;
  flex: content;
}

.tabs {
  display: flex;
}

.tab {
  padding: 5px 8px;
  font-size: small;
}

.tab:hover {
  background-color: var(--selected-active-hover);
}

.tab > button {
  color: white;
  background-color: inherit;
  border: none;
  margin-left: 4px;
  border-radius: var(--border-radius);
}

.tab > button:hover {
  background-color: var(--hover-buttons);
}

.tab.active {
  background-color: var(--selected-active-hover);
  border-top: 2px solid blue;
}